@use '#/styles/colors.scss' as colors;

.header__container {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

.header__logo {
  height: 8rem;
  padding: 1rem;
}