@use '#/styles/colors.scss' as colors;

.input {
  border-radius: 8px;
  box-shadow: 1px 1px 3px;
  padding: 2rem 1rem;

  background-color: colors.$primary;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
