@use '#/styles/colors.scss' as colors;

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: relative;
  background-color: colors.$primary;
  width: 50vw;
  height: 50vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
}
