{
  "plugins": [
    "@emotion",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": "./src"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  ]
}
